<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398821516173-3ml9ukr967kaq5gtimoedsacfdaen7q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398821516173-3ml9ukr967kaq5gtimoedsacfdaen7q6</string>
	<key>API_KEY</key>
	<string>AIzaSyA589e70-toWp5Skyd_ClYsvzr9DeGG3AU</string>
	<key>GCM_SENDER_ID</key>
	<string>398821516173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>engy.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-2eb11</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-2eb11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398821516173:ios:71f902b45bcf972b59d3c4</string>
</dict>
</plist>